# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.env

# IDE
.vscode/
.idea/

# Sensitive data
.env
secrets.json

# Logs
*.log
*.env
*.pyc
__pycache__/
*.pyo
.envmb
node_modules
artifacts
artworks.index
id_map.npy
cache
coverage
artworks.index
id_map.npy
coverage.json
deployment-info.json
uploads/*
scratch/
id_map
artworks.index
drmbackend\artworks.index
hardhat.config.js

scripts/